[submodule "sample-csi-cbt-service"]
	path = sample-csi-cbt-service
	url = git@github.com:PrasadG193/sample-csi-cbt-service.git
[submodule "external-snapshot-metadata"]
	path = external-snapshot-metadata
	url = git@github.com:PrasadG193/external-snapshot-metadata.git
